In [1]:
from scipy.optimize import minimize
import pandas as pd
import copy

In [ ]:
def getSpin(L1,var):
    a, b = L1
    L2,d = var
    return - (a+b)*L2+d
    
a = 1
b = 2


x0=(a,b)# your initial guess
bounds=((0,0.221),(2,5)) # the minimum and maximum values for each parameter
var = (1,1)
res=minimize(getSpin,x0,method='SLSQP',args=(var,),bounds=bounds,tol=1e-10) 
#res.x contains the optimized values for L1,L2 and d 
res

In [ ]:
a=(1,2)
b,c=a

In [ ]:
c

In [ ]:
d = {'col1': [1, 2], 'col2': [3, 4]}
a = pd.DataFrame(data=d)
a.tail(1)

In [ ]:
d = {'col1': [5, 6], 'col2': [7, 8]}
b = pd.DataFrame(data=d)


b = copy.copy(a)

In [ ]:
a.equals(b)

In [ ]:
df2 = pd.DataFrame(columns=['timestamp', 'open', 'high', 'low', 'close'])

In [ ]:
df2

In [ ]:
json_message = {'t': 1656877080000, 'T': 1656877139999, 's': 'ETHUSDT', 'i': '1m', 'f': 9934342, 'L': 9934343, 'o': '1065.80000000', 'c': '1065.86000000', 'h': '1065.86000000', 'l': '1065.80000000', 'v': '1.55000000', 'n': 2, 'x': True, 'q': '1652.02900000', 'V': '1.55000000', 'Q': '1652.02900000', 'B': '0'}

In [ ]:
df2['open'] = json_message['o']
df2['high']  = json_message['h']
df2['low']   = json_message['l']
df2['close'] = json_message['c']

In [ ]:
json_message['o']

In [ ]:
df2['open']

In [ ]:
import random
import copy

random.randrange(100000, 999999)

In [ ]:
str(random.randrange(100000, 1000000))

In [ ]:
profit_array = [[2, 20], [3, 20], [4,20], [5,20], [6,20]] #  <====try to optimize
profit_array = [[2, 100],]
price = 1080.69
a=[]
for i in profit_array:
        a.append([price*(1+i[0]/100),i[1]/100])
a

In [ ]:
deals_array = pd.DataFrame(columns=
                   ['pos_id', 'open_price', 'volume', 'profit_grid', 'status'])

In [ ]:
deals_array

In [ ]:
deals_array = pd.DataFrame(columns=['pos_id', 'open_price'])

In [326]:
import numpy as np
#open_price = 132
#stop_grid

df = pd.DataFrame(columns=
                   ['pos_id', 'pos_type', 'open_price', 'volume',
                    'volume_left', 'profit_grid', 'stop_grid', 'status', 'profit'])


aaa = [[128,100],]
aab = [[130,50],[127,80],[125,100],]
aac = [[134,60],[135,80],[136,100],]

#profit_grid
aba = [[135,100],]
abb = [[134,60],[136,100],]
abc = [[129,60],[126,100],]


a = {'pos_type': 'short', 'open_price': 132, 'volume': 1,'volume_left': 1, 'profit_grid': [aba], 'stop_grid': [aaa], 'status': 'open', 'profit': 0}
b = {'pos_type': 'long', 'open_price': 132, 'volume': 1,'volume_left': 1, 'profit_grid': [abb], 'stop_grid': [aab], 'status': 'open', 'profit':0}
c = {'pos_type': 'short', 'open_price': 132, 'volume': 1,'volume_left': 1, 'profit_grid': [abc], 'stop_grid': [aac], 'status': 'open', 'profit':0}

In [327]:
#df = pd.DataFrame(a,index=[0])
df2 = pd.DataFrame(b,index=[0])
df3 = pd.DataFrame(c,index=[0])
df = pd.concat([df,df2], sort=False, ignore_index=True)
df = pd.concat([df,df3], sort=False, ignore_index=True)

In [328]:
df

,pos_id,pos_type,open_price,volume,volume_left,profit_grid,stop_grid,status,profit
0,NaN,long,132,1,1,"[[134, 60], [136, 100]]","[[130, 50], [127, 80], [125, 100]]",open,0
1,NaN,short,132,1,1,"[[129, 60], [126, 100]]","[[134, 60], [135, 80], [136, 100]]",open,0

In [329]:
def close_if_below(grid, current_price, i):

        for k in range(len(df.loc[i][grid])):
            stop_price = df.loc[i][grid][0]
            
            if stop_price[0] >= current_price:

                if df.loc[i]['volume'] == df.loc[i]['volume_left']:
                    stop_volume = df.loc[i]['volume']*stop_price[1]/100
                else:
                    stop_volume = df.loc[i]['volume_left']*stop_price[1]/100



                df.at[i, 'volume_left'] = np.round(df.loc[i]['volume_left']-stop_volume, 2)
                #close() - pass price and volume 

                #calculate profit
                

                if grid == "profit_grid":
                    close_type = "Take Profit"
                    df.at[i, 'profit'] = df.at[i, 'profit']-stop_volume*(current_price-df.loc[i]['open_price'])
                else:
                    close_type = "Stop Loss"
                    df.at[i, 'profit'] = df.at[i, 'profit']+stop_volume*(current_price-df.loc[i]['open_price'])
                
                print('Type',close_type, 'Closed lot:', stop_volume, ' Price:', current_price, ' Profit:', df.at[i, 'profit'])

                del df.loc[i][grid][0]
                grid_len = len(df.loc[i][grid])
                if df.at[i, 'volume_left'] == 0.0:
                    df.at[i, 'status'] = 'closed'

def close_if_above(grid, current_price, i):
    
        for k in range(len(df.loc[i][grid])):
            stop_price = df.loc[i][grid][0]
        
            if stop_price[0] <= current_price:

                if df.loc[i]['volume'] == df.loc[i]['volume_left']:
                    stop_volume = df.loc[i]['volume']*stop_price[1]/100
                else:
                    stop_volume = df.loc[i]['volume_left']*stop_price[1]/100


                df.at[i, 'volume_left'] = np.round(df.loc[i]['volume_left']-stop_volume, 2)
                #close() - pass price and volume 

                #calculate profit
                


                if grid == "profit_grid":
                    close_type = "Take Profit"
                    df.at[i, 'profit'] = df.at[i, 'profit']+stop_volume*(current_price-df.loc[i]['open_price'])
                else:
                    close_type = "Stop Loss"
                    df.at[i, 'profit'] = df.at[i, 'profit']-stop_volume*(current_price-df.loc[i]['open_price'])
                    
                    
                print(close_type, 'Closed lot:', stop_volume, ' Price:', current_price, ' Profit:', df.at[i, 'profit'])
    
                del df.loc[i][grid][0]
                grid_len = len(df.loc[i][grid])
                if df.at[i, 'volume_left'] == 0.0:
                    df.at[i, 'status'] = 'closed'

def check_if_close(df, price):
    open_poses = df.index[df['status']=='open'].tolist()
    #pass grid type
    for i in open_poses:
        pos_type = df.loc[i]['pos_type']
        match pos_type:
                case 'long':
                    close_if_below('stop_grid', price, i)
                    close_if_above('profit_grid', price, i)
                case 'short':
                    close_if_below('profit_grid', price, i)
                    close_if_above('stop_grid', price, i)

In [344]:
def check_if_close(df, price):
    open_poses = df.index[df['status']=='open'].tolist()
    #pass grid type
    for i in open_poses:
        pos_type = df.loc[i]['pos_type']
        match pos_type:
                case 'long':
                    close_if_below('stop_grid', price, i)
                    close_if_above('profit_grid', price, i)
                case 'short':
                    close_if_below('profit_grid', price, i)
                    close_if_above('stop_grid', price, i)
price = 136
check_if_close(df, price)

In [343]:
df

,pos_id,pos_type,open_price,volume,volume_left,profit_grid,stop_grid,status,profit
0,NaN,long,132,1,0.0,[],"[[125, 100]]",closed,-3.62
1,NaN,short,132,1,0.0,[],"[[134, 60], [135, 80], [136, 100]]",closed,4.2

In [237]:
df

Empty DataFrame
Columns: [pos_id, pos_type, open_price, volume, volume_left, profit_grid, stop_grid, status, profit]
Index: []

In [ ]:
open_poses = df.index[df['status']=='open'].tolist()
current_price = 132

def check_if_close(df):
    open_poses = df.index[df['status']=='open'].tolist()
    
    #pass grid type
    stop_g = 'stop_grid'
    prof_g = 'profit_grid'
    
    for grid in [stop_g, prof_g]:
    
        for i in open_poses:
            stop_price = df.loc[i][grid][0]
            print(stop_price[0])
            vol = copy.copy(df.loc[i]['volume'])
            if stop_price[0] >= current_price:
                print('close')
                stop_volume = df.loc[i]['volume']*stop_price[1]/100
                print('stop_volume', stop_volume)

                df.at[i, 'volume_left'] = np.round(df.loc[i]['volume_left']-stop_volume, 2)
                #close() - pass price and volume 

                #calculate profit
                df.at[i, 'profit'] = df.at[i, 'profit']+stop_volume*(current_price-df.loc[i]['open_price'])

                del df.loc[i][grid][0]
                if df.at[i, 'volume_left'] == 0.0:
                    df.at[i, 'status'] = 'closed'
                print(df)
            
check_if_close(df)

,pos_type,open_price,volume,volume_left,profit_grid,stop_grid,status,profit
0,long,132,1,1,"[[135, 100]]","[[128, 100]]",open,0
1,long,132,5,5,"[[134, 60], [136, 40]]","[[130, 60], [127, 40]]",closed,0
2,long,132,2,2,"[[134, 60], [135, 40]]","[[131, 60], [127, 40]]",open,0

In [ ]:
df.at[1, 'volume_left'] = 2

In [ ]:
df

In [ ]:
price = 132
a = df[df['pos_id']==124]['stop_grid'].tolist()[0]

In [ ]:
if a[0] < price:
    
    df.loc[df['pos_id']==124, 'status'] = ['closed']
df

In [ ]:
df.loc[df['pos_id'] == 124]

In [ ]:
df

In [ ]:
a = 1.325345634

In [ ]:
np.round(a,2)

In [198]:
a=[]
print(a[0])
for i in range(0):
    print(i)

IndexError: list index out of range